 <nav class="nav">
    <div class="nav-left">
        <a class="brand" href="#">BOLT2TRADE</a>
        <div class="tabs">
            <a href="/create" {{#if flag }}class="active"{{/if}}>ONE</a>
            <a href="/view" {{#if flag}}class="active"{{/if}}>TWO</a>
        </div>
    </div>
</nav>